
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image:url(oro.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
}

table{
    width: 80;
    margin: 20px auto;
    border-collapse:collapse ;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

caption{
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: 700;
}

th,td{
    padding: 12px 15px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

h1{
    font-family: cursive;
    color: transparent;
    text-shadow: 
    -1px -1px 0 black,
    -1px -1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black;
}
h2{
    font-family: cursive;
    color: transparent;
    text-shadow: 
    -1px -1px 0 black,
    -1px -1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black;
}

div{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

#pname{
    color: rgba(216, 213, 34, 0.822);
}

#aboutme{
    border-radius: 50px;
    border: 5px rgb(202, 199, 33) outset;
    color: rgb(214, 202, 29);
}

#projects{
    border-radius: 50px;
    border: 5px rgb(196, 179, 30) outset;
    color: rgb(184, 174, 33);
}

#caption{
    border-radius: 50px;
    border: 5px rgb(184, 156, 35) outset;
    font-family: cursive;
    color: transparent;
    text-shadow: 
    -1px -1px 0 black,
    -1px -1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black;
    color: rgb(180, 129, 17);
}
#habilities{
    border-radius: 50px;
    border: 5px rgb(204, 186, 25) outset;
    font-family: cursive;
    color: transparent;
    text-shadow: 
    -1px -1px 0 black,
    -1px -1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black;
    color: rgb(189, 160, 30);
}

li{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

footer{
    text-align: center;
}